<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/grayscale.css">
    <link rel="stylesheet" href="/styles/startbootstrap-grayscale-1.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/startbootstrap-grayscale-1.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/startbootstrap-grayscale-1.0.3/css/grayscale.css">
    <link rel="stylesheet" href="/styles/startbootstrap-grayscale-1.0.3/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/startbootstrap-grayscale-1.0.3/font-awesome/css/font-awesome.min.css">
    <!--STYLES END-->
    <!-- Custom Fonts -->
    <link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">




  <!-- <div class="navbar navbar-inverse navbar-fixed-top"  >
    <div class="container" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"> bookmark</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if ( session.authenticated) { %>
            <li class="active"><a href="/user/show/<%= session.User.id %>"><%= session.User.name %> </a> </li>
            <% } %>
            <% if (session.authenticated && session.User.admin) { %>
              <li><a href="/user">User Administration</a></li>
              <li><a href="#">Placeholder2</a></li>
              <% } %>
            </ul>
            <div class="navbar-right">
              <% if (session.authenticated) { %>
                <a class="btn btn-default navbar-btn navbar-right" href="/user/destroy">sign-out</a>
                <% } %>
              </div>
              <% if (!session.authenticated) { %>
                <form class="navbar-form navbar-right" action="/user/check">
                  <div class="form-group">
                    <input type="text" placeholder="Email" name="email" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="Password" name="password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Sign in</button>

                </form>
                <% } %>
              </div>
            </div>
          </div> -->



        </head>
   <body>
     <%- body %>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/Angular libs/angular-resource.min.js"></script>
    <script src="/js/Angular libs/angular-route.min.js"></script>
    <script src="/js/bootstrap/bootstrap-dialog.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/bootstrap/grayscale.js"></script>
    <script src="/js/bootstrap/jquery.easing.min.js"></script>
    <script src="/js/bootstrap/scripts.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/password.js"></script>
    <!--SCRIPTS END-->
  </body>



<div class="container">
  <hr>
  <footer>
      <div class="container text-center">
          <p>Copyright &copy; Your Website 2014</p>
      </div>
  </footer>
</div>
</html>
