
.centered-form {
  margin-top: 120px;
  margin-bottom: 120px;
}

.centered-form .panel {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.tutorialWrapper{
  width: 100%;
}
.tutorialWrapper form-group{
  background-color: #ffc;
  border: 1px solid #cc9;
  padding: 10px;
  font-family: verdana;
  width: 75%;
  font-size: 1em;
}
.fieldWrapper{
  margin: 2px 0 2px 0;
  padding: 0;
}
.tutorialWrapper label{
  float: left;
  text-align: right;
  margin: 0 5px 0 0;
  width: 30%;
}
.tutorialWrapper input{
  width: 300px;
  border: 1px solid #cc9;
}
.confirmMessage{
  margin: 0;
  padding: 0;
  font-size: .8em;
}
